@model db_mapper.Common.DbViewModel
@{
    ViewBag.Title = "View DB - " + Model.DatabaseMap.DbDescriptionName;
    Layout = "_Layout";
}

<div class="col-md-10 offset-1">
    <form method="post" class="mb-3">
        <div class="input-group mb-1">
            <input asp-for="EnvironmentName" type="hidden" />
            @Html.TextBoxFor(x => x.TableNameFilter, new { @class = "form-control", placeholder = "Filter by Table Name" })
            <button class="btn btn-primary" type="submit" id="basic-addon2">Go</button>
        </div>
        <p>Tables: @Model.DatabaseMap.TableMaps.Count</p>
    </form>


    <h2>@Model.DatabaseMap.DbDescriptionName</h2>
    <p>@Model.DatabaseMap.DbDescription</p>
    <div class="accordion" id="accordionExample">
        @foreach (var table in Model.DatabaseMap.TableMaps)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@table.TableName">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@table.TableName" aria-expanded="false" aria-controls="collapse-@table.TableName">
                        <b>@table.TableName</b>
                    </button>
                </h2>
                <div id="collapse-@table.TableName" class="accordion-collapse collapse" aria-labelledby="heading-@table.TableName" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Schema: @table.TableSchema</p>
                        <div class="container">
                            <div class="row row-cols-3">
                                @foreach (var col in table.ColumnMaps)
                                {
                                    <div class="col mb-2">
                                        <div class="card">
                                            <div class="card-header">
                                                <b>@col.ColumnName</b>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Data Type: @col.DataType</li>
                                                <li class="list-group-item">Description: @col.Description</li>
                                                <li class="list-group-item">Primary Key: @col.IsPrimaryKey</li>
                                                <li class="list-group-item">Is Nullable: @col.IsNullable</li>
                                                <li class="list-group-item">Default Value: @col.DefaultValue</li>
                                                <li class="list-group-item">Max Length: @col.MaxLength</li>
                                                <li class="list-group-item">
                                                    Relationships: 
                                                    <ul>
                                                        @foreach(var rel in col.ColumnRelationships)
					                                    {
                                                            <li>FK: <a href="#heading-@rel.ForeignTable" title="@rel.ForeignKeyName">@rel.ForeignTable.@rel.ForeignColumn</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
